#container{
   display: flex;
   justify-content: center;
}
.homeImage .image{
    width: 700px;
    height: 600px;
}
#nikeShoes{
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(10px 30px 10px rgba(74, 74, 74,0.4));
 
}
#container .details{
     padding:30px;
}
#container .details h1{
   text-align: center;
   font-family: 'Noto Sans', sans-serif;
   font-size: 5rem;
   font-weight: 800;
   margin-bottom: 25px;
}
#container .details p{
   font-family:'Noto Sans', sans-serif;
   font-weight: 600;
   width: 650px;
   margin: auto;
   line-height: 23px;
   padding-left:20px;
   letter-spacing: .7px;
   color:rgb(112, 112, 112)
 }
 #container .details .buttons{
   display: flex;
   margin: 20px 28px;
   padding: 0px 15px;
 }
#container .details .buttons a{
    padding: 10px 15px;
    margin: 0px 30px;
    background-color: red;
    color: #fff;
    font-family:'Noto Sans', sans-serif;
    font-weight: 700;
    transition: 0.4s; 
}
#container .details .buttons a:hover{
    background-color:  rgb(165, 5, 5);
}
#container .details .buttons a:nth-child(2){
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
#container .details .buttons a:nth-child(2):hover{
    background-color: rgba(159, 159, 159, 0.219);
    color: #000;
    border: 2px solid #000;
}
.details .extraDetails{
    margin-left: 70px;
}

.details .extraDetails h4{
    color:rgb(112, 112, 112);
    margin: 10px 0px;
}

.details .extraDetails img{
     width:50px;
     height:50px;
     margin-right:10px;
}
.details .extraDetails img:nth-child(3){
    width: 45px;
    height: 45px;
}